{# src/Blogger/BlogBundle/Resources/views/Comment/create.html.twig #}
{% extends 'BloggerBlogBundle::layout.html.twig' %}

{% block title %}Add Comment{% endblock %}

{% block body %}
    <div class="single">
        <div class="container">
            <div class="single-top">
                <h3>Add comment for blog post: {{ comment.blog.title }}</h3>
                {% for flashMessage in app.session.flashbag.get('blogger-error') %}
                    <div class="blogger-error">
                        {{ flashMessage }}
                    </div>
                {% endfor %}
                <div class="comment-bottom heading">
                    {% include 'BloggerBlogBundle:Comment:form.html.twig' with { 'form': form } %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}