{# src/Blogger/BlogBundle/Resources/views/Comment/index.html.twig #}

{% for comment in comments %}
    <div class="media">
        <div class="media-body">
            <h4 class="media-heading"> {{ comment.user }}
            </h4>
            {{ comment.comment }}
        </div>
    </div>
{% else %}
    <p>There are no comments for this post. Be the first to comment...</p>
{% endfor %}